body, h1, h2, h3, h4, p, ul, ol, li {
	margin: 0;
	font-family: 'Crimson Text', sans-serif;
}

body {
	min-height: 100vh;
	width: 1000px;
	margin: 0 auto;
	background-image: url("./img/bg.jpg");
}

* {
	box-sizing: border-box;
}

.header {
	background-color: black;
	height:100px;
	display: flex;
	align-items: center;
	justify-content: space-between; 
	padding: 0 20px;
}

.header__image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__img {
	height: 80px;
}

.header__link {
	margin-left: 20px;
	color: white;
	text-decoration: none;
}

.annonce {
	height: 300px;
	background-image: url("./img/1.jpg");
	display: flex;
	align-items: flex-start;
	justify-content: space-between; 
	padding: 0 20px;
}

.annonce__date {
	font-family: 'PT Mono', monospace;
	margin-top: 40px;
	color: white;
}

.annonce__title {
	margin-top: 10px;
	color: white;
}

.annonce__nom {
	margin-top: 100px;
	width: 300px;
	color: white;
	border-bottom: 1px solid white;
}

.annonce__treiler {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.annonce__img {
	height: 280px;
}

.white {
	padding: 0 20px;
	background-color: white;
}

.info {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1.5px solid black;
}

.info__left {
	margin-right: 100px;
}

.view {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	border-bottom: 1.5px solid black;
}

.view__view {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 5px;
	padding-bottom: 5px;
}

.time {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.time__value {
	margin-left: 20px;
	font-family: 'PT Mono', monospace;
}

.view__money {
	margin-left: 20px;
}

.desc {

}

.rev__rev.-top {
	margin-top: 20px;
	border: 1.5px solid black;
	padding: 10px;
}

.rev__triangle {
	width: 0;
	height: 0;
	border-top: 15px solid black;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	margin-left: 20px;
	margin-bottom: 10px;
}

.rev__rev.-bot {
	margin-top: 20px;
	border-left: 3px solid red;
	padding-left: 10px;
	margin-bottom: 10px;
}

.rev__avtor {
	margin-bottom: 5px;
}

.details__title {
	margin: 10px 0;
}

.details__details {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.question {
	margin-bottom: 5px;
}

.answer {
	margin-bottom: 5px;
}

.answer.-link {
	color: #00d4ff;
	text-decoration: none;
}

.actor__title, .actor {
	margin-bottom: 15px;
}

.spikers {
	border: 3px solid black;
	padding: 10px;
}

.spiker {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.spiker__img {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	margin-right: 15px;
	margin-top: 10px;
}

.spiker__surname {
	margin-top: 5px;
	margin-bottom: 15px;
}

.emojy {
	font-family: 'Lato', sans-serif;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.emogy.-facebook, .emogy.-brainly {
	height: 30px;
	width: 30px;
	border: 0.5px solid black;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
}

.emogy.-facebook:hover {
	background-color: red;
	color: white;
	border: 0.5px solid red;
}

.emogy.-brainly:hover {
	background-color: #61d99e;
	color: white;
	border: 0.5px solid #61d99e;
}

.emogy.-twitter {
	height: 30px;
	width: 30px;
}

.galery__img {
	height: 345px;
	width: calc(50% - 20px);
	background-image: url("./img/gal.jpg");
	background-size: contain;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	box-shadow: 0px 0px 30px 20px black inset;
}

.galery__arrow {
	font-size: 100px;
	color: white;
}

.press {
	display: flex;
	flex-flow: column;
}

.press__link {
	color: black;
	text-decoration: none;
	font-size: 20px;
}

.press__link.-a:hover {
	color: #8b00c6;
}

.press__link.-b:hover {
	color: #e9f03a;
}

.press__link.-c:hover {
	color: #00d4ff;
}

.press__link.-d:hover {
	color: #c60000;
}

.press__link.-e:hover {
	color: #ffa30e;
}

.press__link.-f:hover {
	color: #00c603;
}

.press__link.-g:hover {
	color: #3af061;
}

.press__link.-h:hover {
	color: #5b3af0;
}